@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;

}

body{
    background: url('bg.jpg') no-repeat center center/cover;
}

.container h1{
    color: rgb(7, 0, 0);
    font-size: 3.8rem;
}

.container{
    margin: auto;
    margin-top: 190px;
    margin-left: 750px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}

input {
    margin: 8px;
    width: 90%;
    font-size: 18px;
    /* padding: ; */
}

.btn{
    width: 50%;
    margin: 4px;
    background-color: black;
    color: white;
    padding: 7px;
    cursor: pointer;
    border-radius: 40px;
}
.btn:hover{

    background-color: white;
    color: black;

}
